@import url(./styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{

    --cor--de--fundo: #EBECEE;
    --amarelo--principal: #EB9B00;
    --branco--principal:#FFFFFF;
    --font--principal: 'Poppins';
    --azul--escuro: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

body{
  background-color: var(--cor--de--fundo);
}

