.carrossel_titulo{
    text-transform: uppercase;
    color: var(--rosa--secundario);
    font-family: var(--font--principal);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: var(--branco--principal);
    padding: 1em;
}
.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    display: none;

}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0 ;
}

.card_descricao{
    display: flex;
    justify-content: space-between;
}

.card_botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    border-radius: 10px;
    background: var(--branco--principal);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}
.descricao_titulo{
    font-size: 16px;
    font-family: var(--font--principal);
    font-weight: 700;
    color: var(--rosa--secundario);
}

.descricao_titulo_livro{
    font-size: 18px;
    font-family: var(--font--principal);
    padding: 0.5em 0em;
    color: var(--azul);
    font-weight: 700;

}

.descricao_texto{
    font-family: var(--font--principal);
    font-weight: 400;
    font-size: 16px;
}

.card_ancora{
    text-decoration: none;
    padding: 1em 2.2em;
   font-family: var(--font--principal);
   font-weight: 700;
   color: var(--branco--principal);
   margin: 2em 0 0 0;
   background-color: var(--rosa--principal);
   


}

.botoes_item{
    margin: 2em 0 0 0;
}

.card_icone_estrela{
  margin: 1em;
}

@media screen and (min-width: 1024px){

    .carrossel_titulo{
        font-size: 26px;
    }
    
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;

    }
    .swiper-button-next, .swiper-button-prev{
        display: block;
        top: 60%
    }
    
    .card{
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px){
    .carrossel_container{
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }


    .swiper-pagination {
        position: initial;
        margin: 1em 0 ;

    }

    .swiper{
        width: 85%;
    }

    .descricao_titulo{
        font-size: 32px;
    }
    .descricao_texto{
        font-size: 16px;
    }

    .descricao{
        margin-right: 2em;
    }
    .card{
        width: 85%;
        margin-left: 3em;
    }

}